.homeButton {
    text-decoration: none;
    color: white;
    background-color: #7187cf;
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 40px auto;
    display: block;
    width: 100px;
}

.HomeContainer {
    border: 1px solid #00000040;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
}