.ListItemsMain {
    width: 600px;
    margin: 0 auto;
    background-color: #f3fbff;
    border: 1px solid black;
    display: flex;
    height: 30px;
    
}
.ListItemsId {
    width: 60px;
    text-align: center;
    line-height: 30px;
    border-right: 1px solid black;
}

.ListItemsEmail{
    width: 200px;
    font-size: 12px;
    line-height: 30px;
    border-right: 1px solid black;
}
.ListItemsUsername {
    width: 120px;
    font-size: 12px;
    line-height: 30px;
    border-right: 1px solid black;
}

.ListItemsPassword {
    width: 120px;
    font-size: 12px;
    line-height: 30px;
    
}

.ListItemsButton {
    width: 90px;
    display: block;
    height: 20px;
    margin: 5px;
    font-size: 8px;
    text-transform: uppercase;
    line-height: 20px;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #f78686;
    color: white;
    cursor: pointer;
    padding: 0px;
}

.ListItemsButton:hover {
    background-color: #b95252;
}