.loginDiv {
    height: 50px;
    width: 100%;
    background-color: #007bff;
    color: white;
}

.loginInputs {
 padding: 10px;
 margin: 40px auto;
 display: block;
 width: 300px;
 text-align: center;
 border-radius: 5px;
}

.loginButtonBack {
    float: left;
    margin: 10px;
    background: none;
    border:none;
    color: white;
    font-size: 20px;
    background-color: none;
    padding: 5px;
    outline: none;
    cursor: pointer;
}

.loginHeader {
    margin-top: 0;
    margin-bottom: 100px;
    font-weight: bold;
}

.loginLoginButton {
    margin-right: 25px;
    width: 100px;
    padding: 10px;
    text-transform: uppercase;
    background: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

.loginRegisterButton {
    width: 100px;
    padding: 10px;
    text-transform: uppercase;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.LoginInputsField {
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    background-color: #b7d0d6;
    box-shadow: 0px 2px 14px 2px black;
}

.loginAndRegisterDiv {
    margin-top: 70px;
}
