.ProfileInput {
    display: block;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #00000040;
    height: 30px;
}

.ProfileButton {
    display: block;
    font-size: 12px;
    width: 200px;
    height: 30px;
    margin: 10px auto;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    letter-spacing: 3px;
    cursor: pointer;
    background: linear-gradient(to bottom, #14a8e0,#0068ff);
}

.ProfileMain {
    width: 240px;
    background-color: #f5faff;
    padding: 20px;
    box-shadow: 0px 0px 4px 2px #00000020;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ProfilePicture {
    width: 100px;
    height: 100px;
    background: linear-gradient(to bottom, #14a8e0,#0068ff);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: -10px;
    border: 2px solid #bfbfbf;
    overflow: hidden;
}

.ProfilePicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.ProfileErrors {
    width: 100%;
    padding: 8px;
    font-size: 10px;
    color: white;
    border-radius: 10px;
    background-color: #ff4444;
    text-align: left;
}

.ProfileErrors p {
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
}