.registerEmail {
margin-top: 50px;
padding: 10px;
border-radius: 10px;
border: none;
outline: none;
display: block;
margin-bottom: 20px;
margin-right: auto;
margin-left: auto;
width: 300px;
text-align: center;
}

.registerPassword {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    display: block;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    text-align: center;
}

.registerPasswordValidation {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    display: block;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    text-align: center;
}

.registerUsername{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    display: block;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    text-align: center;
}

.registerForm {
    border: 2px solid #bdbdbd;
    width: 450px;
    margin: 100px auto;
    box-shadow: 3px 9px 5px 0px #00000040;
    background: #007bff;
    border-radius: 30px;
    padding: 20px;
}

.registerButtonSubmit {
    margin: 20px auto;
    padding: 10px;
    background: white;
    border: none;
    width: 100px;
    border-radius: 30px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}

.registerHeader {
    color: white;
    text-transform: uppercase;
}