.linkButton {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    width: 150px;
    margin: 15px auto;
    border-radius: 10px;
    border: none;
    background-color: #e67f7f;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    text-decoration: none;
    color: black;
  }
  
  .linkButton:hover {
    background-color: #ffffff;
  }