.App {
  background-color:#5f1c1c;
  color: white;
  width: 800px;
  height: 400px;
  margin: 250px auto;
  border: 2px solid white;
}

html {
  background-color: #dcdcdc;
  text-align: center;
}

.Welcome h1 {
  margin-top: 100px;
  margin-bottom: 60px;
}

